@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

#menu {
    position: relative;
    width: 200px;
    height: 100px;
    margin: 100px auto;
}

.hexagon {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: #7FDBFF;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.submenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.submenu a {
    display: block;
    padding: 10px;
    background-color: #001f3f;
    color: #fff;
    text-decoration: none;
    margin: 5px 0;
}

body {
    background-color: #C9C9D5;
    font-family: "Oswald", Arial, sans-serif;
    font-weight: 500;
}

h1 {
    color: #111319;
    margin-left: 20px;
}

p {
    color: #111319;
}