@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-color: #C9C9D5;
    font-family: "Oswald", Arial, sans-serif;
    font-weight: 500;
}

h1 {
    color: #111319;
    margin-left: 20px;
}

p {
    color: #111319;
}